@{
    ViewBag.Title = "轮播添加";
    Layout = "~/Areas/GuanWang/Views/Shared/_LayoutPageManager.cshtml";
}

@section header{

}

<div class="definewidth m20">
    <table class="table table-bordered table-hover m10">

        <tr>
            <td class="tableleft">标题</td>
            <td>
                <input type="text" name="name" id="txttitle" /></td>
        </tr>
        <tr>
            <td class="tableleft">描述</td>
            <td>
                <textarea style="height: 50px;width:600px;" placeholder="请输入描述" id="txtdescribe"></textarea>

            </td>
        </tr>
        <tr>
            <td class="tableleft">背景图</td>
            <td>
                <img src="" id="txtimgbjsrc" style="width: 210px; height: 150px; margin-bottom: 5px;" /><br />
                <input type="hidden" value="" id="txtimgbjvalue" />
                <button class="btn btn-primary" onclick="doUpload('bj')">上传背景图</button>&nbsp;&nbsp;推荐尺寸 1903 x 730
            </td>
        </tr>
        <tr>
            <td class="tableleft">人物图</td>
            <td>
                <img src="" id="txtimgrwsrc" style="width: 210px; height: 150px; margin-bottom: 5px;" /><br />
                <input type="hidden" value="" id="txtimgrwvalue" />
                <button class="btn btn-primary" onclick="doUpload('rw')">上传人物图</button>&nbsp;&nbsp;推荐尺寸 406 x 595

            </td>
        </tr>
        <tr>
            <td class="tableleft">链接地址</td>
            <td>
                <textarea style="height: 50px;width:600px;" placeholder="请输入链接地址" id="txtlink"></textarea>
            </td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button class="btn btn-primary" onclick="btn_save()">保存</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</div>

@section footer{
    <script src="~/Areas/GuanWang/Js/jquery.upload.js"></script>
    <script>
        $(function () {
            $('#backid').click(function () {
                window.location.href = "Banner";
            });

        });

        //文件上传
        function doUpload(type) {
            // 上传方法
            $.upload({
                // 上传地址
                url: '/GuanWang/ManagerHome/Upload',
                // 文件域名字
                fileName: 'filedata',
                // 其他表单数据
                params: {action:"banner"},
                // 上传完成后, 返回json, text
                dataType: 'json',
                // 上传之前回调,return true表示可继续上传
                onSend: function () {
                    return true;
                },
                // 上传之后回调
                onComplate: function (serverData) {
                    var jsondata = $.parseJSON(serverData);
                    if (jsondata.status == 0) {
                        if (type == "bj") {
                            $("#txtimgbjsrc").attr("src", jsondata.data);
                            $("#txtimgbjvalue").attr("value", jsondata.data);
                        } else {
                            $("#txtimgrwsrc").attr("src", jsondata.data);
                            $("#txtimgrwvalue").attr("value", jsondata.data);
                        }
                    } else {
                        alert(jsondata.msg);
                    }
                }
            });
        }

        //保存
        function btn_save() {
            var title = $("#txttitle").val();
            if (title == "" || title == null) {
                $("#txttitle").focus();
                alertMsg("标题不能为空");
                return;
            }
            var describe = $("#txtdescribe").val();
            if (describe == "" || describe == null) {
                $("#txtdescribe").focus();
                alertMsg("描述不能为空");
                return;
            }
            var bjimg = $("#txtimgbjvalue").val();
            if (bjimg == "" || bjimg == null) {
                alertMsg("请上传背景图");
                return;
            }
            var rwimg = $("#txtimgrwvalue").val();
            if (rwimg == "" || rwimg == null) {
                alertMsg("请上传人物图");
                return;
            }

            var link = $("#txtlink").val();
            if (link == "" || link == null) {
                $("#txtlink").focus();
                alertMsg("链接地址不能为空");
                return;
            }

            var pams = {
                title: title,
                describe: describe,
                bjimg: bjimg,
                rwimg: rwimg,
                link: encodeURIComponent(link)
            };


            $.post("BannerAdd",pams, function (serverData) {
                var jsondata = $.parseJSON(serverData);
                if (jsondata.status == 0) {
                    alertMsg(jsondata.msg);
                    window.location = 'Banner';
                } else {
                    alertMsg(jsondata.msg);
                }
            });

        }
    </script>
}
