@{
    ViewBag.Title = "CaseAdd";
    Layout = "~/Areas/GuanWang/Views/Shared/_LayoutPageManager.cshtml";
}

@section header{
    <link href="~/Areas/GuanWang/editormd/css/editormd.min.css" rel="stylesheet" />
     <link href="~/Areas/GuanWang/Css/tab.css" rel="stylesheet" />
}

<div class="definewidth m20">
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">类型</td>
            <td>
                @{List<Model.guanwang_blog_type> typelist = ViewData["typelist"] as List<Model.guanwang_blog_type>;}
                <select id="txttype">
                    @foreach (var item in typelist)
                    {
                        <option value="@item.typeID">@item.name</option>
                    }
                </select>

            </td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">标题</td>
            <td>
                <input type="text" id="txtname" placeholder="请输入标题" value=""/></td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">描述</td>
            <td>
                <textarea id="txtdescribe" placeholder="请输入描述" style="height:100px;"></textarea>
            </td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">图片</td>
            <td>
                <img src="" style="width:200px;height:150px;margin-bottom:10px;" id="txtimagesrc" /><br />
                <input type="hidden" value="" id="txtimagevalue" />
                <button class="btn btn-primary" onclick="doUpload('blog')">上传图片</button>&nbsp;&nbsp;推荐尺寸616 x 293
            </td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">标签</td>
            <td>
                  <div class="demo">
                    <div class="plus-tag tagbtn clearfix" id="myTags"></div>
                    <div class="plus-tag-add">
                        <div class="login">
                            <ul class="Form FancyForm">
                                <li>
                                    <input id="txtblogtag" type="text" class="stext" maxlength="20" style="height: 42px;" placeholder="" />
                                    <label>输入博客标签</label>
                                    <span class="fff"></span>
                                </li>
                                <li>
                                    <button type="button" class="Button RedButton Button18" style="font-size: 14px;">添加标签</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tableleft">内容</td>
            <td>
                <div id="txtblogcontent">
                    <textarea style="height: 100px;" placeholder="请输入内容"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button class="btn btn-primary" onclick="btn_save()">保存</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</div>

@section footer{
    <script src="~/Areas/GuanWang/editormd/editormd.min.js"></script>
    <script src="~/Areas/GuanWang/Js/center_richtext.js"></script>
    <script src="~/Areas/GuanWang/Js/jquery.upload.js"></script>
    <script src="~/Areas/GuanWang/Js/imageupload.js"></script>
     <script src="~/Areas/GuanWang/Js/tab.js"></script>
    <script>
        $(function () {
            $('#backid').click(function () {
                window.location.href = "ProductType";
            });
        });

        //提交表单
        function btn_save() {
            var typeid = $("#txttype").val();
           
            var name = $("#txtname").val();
            if (name == "" || name == null) {
                $("#txtname").focus();
                alertMsg("标题不能为空！");
                return;
            }

            var describe = $("#txtdescribe").val();
            if (describe == "" || describe == null) {
                $("#txtdescribe").focus();
                alertMsg("描述不能为空");
                return;
            }
            var img = $("#txtimagevalue").val();

            var tags = encodeURIComponent(getTips());
            

            var content = encodeURIComponent(testEditor.getMarkdown());
            if (content == "" || content == null) {
                alertMsg("内容不能为空！");
                return;
            }


            var pams = {
                typeid : typeid,
                name: name,
                describe: describe,
                img: img,
                tags: tags,
                content: content,
            };

            $.post("BlogAdd", pams, function (serverData) {
                var jsondata = $.parseJSON(serverData);
                if (jsondata.status == 0) {
                    alertMsg(jsondata.msg);
                    window.location = 'Blog';
                } else {
                    alertMsg(jsondata.msg);
                }
            });
        }
    </script>
}



