@{
    ViewBag.Title = "ManagerInfo";
    Layout = "~/Areas/GuanWang/Views/Shared/_LayoutPageManager.cshtml";
}

<div style="padding: 50px;">
    <div class="jumbotron">
        <h1>欢迎光临捧起网后台管理中心</h1>
        <p>这里的信息将影响着捧起网的展示效果，请在操作前谨慎操作，感谢您的使用。</p>
        <p><a class="btn btn-primary btn-lg" href="http://g.pqpqpq.cn" target="_blank" role="button">前往预览</a></p>
    </div>
    <br />

    <h3>网站基本信息</h3>
    <ul class="list-group">
        <li class="list-group-item">前端框架bootstrap</li>
        <li class="list-group-item">数据库sql server 2008</li>
        <li class="list-group-item">服务端.net mvc+ef</li>
        <li class="list-group-item">空间 阿里云</li>
        <li class="list-group-item">浏览器兼容 ie8或以上主流浏览器</li>
    </ul>
</div>
